.inputWrap {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

@keyframes focustext {
  0% {
    border-bottom-color: #eeeeee;
  }
  100% {
    border-bottom-color: #1976d2;
  }
}

.inputMessage {
  height: 20px;
  width: 60%;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 10px 0px 10px 10px;
  outline: 0;
}

.input-message:focus {
  animation-name: focustext;
  animation-duration: 3s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
